<!doctype html>
<html lang="en">
    
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        {{>header}}
        <div class="container flex-grow-1">
         {{success}}
         <p>{{listLength}} recipes available</p>
            <ul class="recipe_list">
            {{#each files}}
                <li>
                <a href="{{this.url}}">{{this.name}}</a> 
                </li>
            {{/each}}
            </ul>
      </div>

      {{>footer}}
      {{>bootstrapJS}}
    </body>
</html>